//normalizes css to look the same across multiple browsers
//https://github.com/necolas/normalize.css
@import url("./imported/normalize.css");

//import primeflex in order to make development easier
//https://www.primefaces.org/primeflex/theming
@import "primeflex/primeflex.scss";

// @import url("./themes/md-dark-indigo/theme.css");
body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--surface-ground);
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--text-color);
}
