//normalizes css to look the same across multiple browsers
//https://github.com/necolas/normalize.css
@import url("./imported/normalize.css");

//import primeflex in order to make development easier
//https://www.primefaces.org/primeflex/theming
@import "primeflex/primeflex.scss";

//handles the overengineered, horribly buggy theme switcher
//credit to omri#1999 on discord for helping me set this up
@import "./handleThemes.scss";
body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--surface-ground);
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--text-color);
}
